/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/*------------------------------*\

    #HOMEPAGE

\*------------------------------*/
.s-title {
  text-align: center;
}

.header-bloc {
  background: url("../img/bg-header.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 10rem;
}
.header-bloc .h1 {
  margin-bottom: 5rem;
}

.key-nums {
  margin: 0;
  padding: 0;
}
.key-nums .key-nums__item {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  font-size: 1.8rem;
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}
.key-nums .key-nums__item:last-child {
  margin-bottom: 0;
}
.key-nums .key-nums__item .key-nums__item__num {
  font-size: 5rem;
  display: block;
  font-weight: bold;
  line-height: 1;
}

.steps-intro .box__item__img {
  width: 200px;
  margin: 0 auto 3rem;
}
.steps-intro .box__item__img img {
  margin: 0 auto;
}
.steps-intro .p-ss {
  max-width: 230px;
  margin: 0 auto 1rem;
  color: #777777;
}

@media screen and (max-width: 830px) {
  .home .courtcircuit {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 600px) {
  .key-nums .key-nums__item {
    margin-bottom: 0;
  }

  .header-bloc {
    padding-top: 16rem;
  }
}
