/*------------------------------*\

    #CLASS

\*------------------------------*/
.transition {
  transition: all 0.2s ease-in-out;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

/*------------------------------*\

    #TYPOGRAPHY

\*------------------------------*/
.big-txt {
  font-size: 2rem;
}

/*------------------------------*\

    #PAGE

\*------------------------------*/
.section, .section--dark {
  width: 100%;
  padding-bottom: 80px;
}

.section--dark {
  background: #000;
}
.section--dark .page-subtitle {
  color: #fff;
}

.big-txt {
  line-height: 3rem;
  text-align: left;
  font-weight: 400;
}
