/*------------------------------*\

    #CLASS

\*------------------------------*/
/* ANIMATION */
@keyframes slideUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* TRANSITIONS */
.a-project .wrap-bg.c-main, .a-project .wrap-bg.c-main:before, .transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

.a-project .wrap-bg.c-main:after {
  border-style: solid;
  border-width: 0 0.8rem 1.2rem;
  content: "";
  height: 0;
  left: 3.2rem;
  position: absolute;
  top: -1rem;
  width: 0;
}

.anim-out {
  transform: scale(0);
  opacity: 0;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/* COLORS PROJECT */
/*------------------------------*\

    #SINGLE PROJECT / ALL PROJECTS

\*------------------------------*/
.a-project .description {
  margin-bottom: 0;
}
.a-project .wrap-bg.c-main {
  overflow: hidden;
  height: 0;
}
.a-project .wrap-bg.c-main:before {
  transform: scaleX(0);
}
.a-project .wrap-bg.c-main .box:first-child {
  padding-top: 4rem;
}
.a-project .wrap-bg.c-main .card__title {
  margin-bottom: 1rem;
}
.a-project .wrap-bg.c-main .button {
  margin-top: 4rem;
}
.a-project .wrap-bg.c-main:after {
  border-color: transparent transparent #65aa04;
  left: inherit;
  right: 47.5%;
}
.a-project .wrap-bg.c-main.is-active {
  height: 100%;
  overflow: visible;
  margin: 4rem 0 0;
}
.a-project .wrap-bg.c-main.is-active:before {
  transform: scaleX(5);
}
.a-project .notify span {
  display: block;
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 3px;
  margin-top: 2rem;
}
.a-project .notify .error {
  background-color: #fff;
  color: #eb6c1d;
}
.a-project .notify .success {
  background-color: #fff;
  color: #65aa04;
}

.all-projects .fluxi-wrap {
  margin-bottom: 0;
}
.all-projects .social {
  margin-bottom: 5rem;
}
.all-projects .fluxi-content {
  margin-top: 5rem;
}

.following.box {
  justify-content: center;
}
.following.box .box__social, .following.box .box__btn {
  margin-top: 3rem;
}
.following.box .box__social {
  align-self: center;
  text-align: center;
  width: 100%;
}

.following.box .button {
  margin-top: 0;
}

.input-n-btn {
  align-self: flex-end;
}
.input-n-btn .box__solo {
  flex: 1 1 0;
  margin-bottom: 0;
  max-width: inherit;
  padding-right: 2rem;
}
.input-n-btn .box__fixe {
  flex: 0;
  margin-bottom: 0;
}
.input-n-btn .input__mailing {
  border-bottom: 1px solid #fff;
}

/* ETAPES */
.dotline {
  position: relative;
  margin-top: 4rem;
}

.dotline__line {
  position: absolute;
  width: 100%;
  top: 7px;
}
.dotline__line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #65aa04;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dotline__step {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 42px;
}
.dotline__step .micro-legende {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.dotline__step.is-active {
  background: #fff;
}
.dotline__step.is-active .micro-legende {
  color: #65aa04;
}
.dotline__step.is-active .dot {
  position: relative;
  top: -7px;
  width: 32px;
  height: 32px;
  border: 2px solid #65aa04;
  background: #fff !important;
}
.dotline__step.is-active .dot::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  position: absolute;
}
.dotline__step.is-inactive .dot {
  border: 2px solid #65aa04;
  background: #fff;
}

/* REPARTITION */
.graphbar {
  display: flex;
  height: 25px;
  margin-top: 4rem;
}

.graphbar__segment {
  background: #65aa04;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.graphbar__segment:first-child {
  border-radius: 3px 0 0 3px;
}
.graphbar__segment:last-child {
  border-radius: 0 3px 3px 0;
}

.repartition .infosbloc {
  margin-top: 4rem;
}
.repartition .infosbloc ul {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 0 0;
  border-bottom: 2px solid #fff;
}
.repartition .infosbloc .pointe {
  transform: translateX(50%);
}
.repartition .pointe--up {
  top: 2.8rem;
}

.financer {
  display: flex;
  align-items: center;
  border-top: 2px solid #fff;
  padding: 15px 10px;
}
.financer .legende {
  margin-left: 10px;
  margin-right: auto;
}

/* Color system */
.c-solai .etapes .dotline__step > .dot,
.c-solai .etapes .dotline::before,
.c-solai .etapes .dotline__step.is-active .dot::before,
.c-solai .etapes .dotline__line::before,
.c-solai .etapes .dotline__line .start {
  background: #e9af00;
}
.c-solai .etapes .dotline__step.is-active .dot,
.c-solai .etapes .dotline__step.is-inactive .dot,
.c-solai .etapes .dotline__line .end {
  border-color: #e9af00;
}
.c-solai .etapes .dotline__step.is-inactive .dot {
  background: #fff;
}
.c-solai .etapes .dotline__step.is-active .micro-legende {
  color: #e9af00;
}
.c-solai .repartition .graphbar__segment.citoyen:nth-child(1) {
  background: #e9af00;
}
.c-solai .repartition .financer.citoyen:nth-child(1) .dot {
  background: #e9af00;
}
.c-solai .repartition .graphbar__segment.citoyen:nth-child(2) {
  background: #d09c00;
}
.c-solai .repartition .financer.citoyen:nth-child(2) .dot {
  background: #d09c00;
}
.c-solai .repartition .graphbar__segment.citoyen:nth-child(3) {
  background: #b68900;
}
.c-solai .repartition .financer.citoyen:nth-child(3) .dot {
  background: #b68900;
}
.c-solai .repartition .graphbar__segment.citoyen:nth-child(4) {
  background: #9d7600;
}
.c-solai .repartition .financer.citoyen:nth-child(4) .dot {
  background: #9d7600;
}
.c-solai .repartition .graphbar__segment.citoyen:nth-child(5) {
  background: #836200;
}
.c-solai .repartition .financer.citoyen:nth-child(5) .dot {
  background: #836200;
}
.c-solai .repartition .graphbar__segment.citoyen:nth-child(6) {
  background: #6a4f00;
}
.c-solai .repartition .financer.citoyen:nth-child(6) .dot {
  background: #6a4f00;
}
.c-solai .repartition .graphbar__segment.citoyen:nth-child(7) {
  background: #503c00;
}
.c-solai .repartition .financer.citoyen:nth-child(7) .dot {
  background: #503c00;
}
.c-solai .repartition #segment-prive-1 {
  background: #d9d9d9;
}
.c-solai .repartition #financer-prive-1 .dot {
  background: #d9d9d9;
}
.c-solai .repartition #segment-prive-2 {
  background: #bfbfbf;
}
.c-solai .repartition #financer-prive-2 .dot {
  background: #bfbfbf;
}
.c-solai .repartition #segment-prive-3 {
  background: #a6a6a6;
}
.c-solai .repartition #financer-prive-3 .dot {
  background: #a6a6a6;
}
.c-solai .repartition #segment-prive-4 {
  background: #8c8c8c;
}
.c-solai .repartition #financer-prive-4 .dot {
  background: #8c8c8c;
}
.c-solai .repartition #segment-prive-5 {
  background: #737373;
}
.c-solai .repartition #financer-prive-5 .dot {
  background: #737373;
}
.c-solai .repartition #segment-prive-6 {
  background: #595959;
}
.c-solai .repartition #financer-prive-6 .dot {
  background: #595959;
}
.c-solai .p-details .p-details__equi:before {
  border-color: transparent transparent #e9af00;
}
.c-solai .p-details .p-details__nrg i, .c-solai .p-details .p-details__equi {
  background-color: #e9af00;
}
.c-solai .p-details .p-details__infos {
  color: #e9af00;
}
.c-solai .testimony {
  background: url("../img/bg-vector-1.png") no-repeat bottom left, -webkit-radial-gradient(#ffc413, #e9af00), center no-repeat #e9af00 scroll;
  background: url("../img/bg-vector-1.png") no-repeat bottom left, radial-gradient(#ffc413, #e9af00), center no-repeat #e9af00 scroll;
}
.c-solai .card-project, .c-solai .filter-nrj {
  background: none #e9af00;
}
.c-solai .card-project .card__icon:before, .c-solai .filter-nrj .card__icon:before {
  content: "\e91f";
}
.c-solai .card-project .icon-filter:before, .c-solai .filter-nrj .icon-filter:before {
  content: "\e91e";
}
.c-solai.card-map .link-cta {
  color: #e9af00;
}

.c-eolie .etapes .dotline__step > .dot,
.c-eolie .etapes .dotline::before,
.c-eolie .etapes .dotline__step.is-active .dot::before,
.c-eolie .etapes .dotline__line::before,
.c-eolie .etapes .dotline__line .start {
  background: #5ab1bb;
}
.c-eolie .etapes .dotline__step.is-active .dot,
.c-eolie .etapes .dotline__step.is-inactive .dot,
.c-eolie .etapes .dotline__line .end {
  border-color: #5ab1bb;
}
.c-eolie .etapes .dotline__step.is-inactive .dot {
  background: #fff;
}
.c-eolie .etapes .dotline__step.is-active .micro-legende {
  color: #5ab1bb;
}
.c-eolie .repartition .graphbar__segment.citoyen:nth-child(1) {
  background: #5ab1bb;
}
.c-eolie .repartition .financer.citoyen:nth-child(1) .dot {
  background: #5ab1bb;
}
.c-eolie .repartition .graphbar__segment.citoyen:nth-child(2) {
  background: #49a7b2;
}
.c-eolie .repartition .financer.citoyen:nth-child(2) .dot {
  background: #49a7b2;
}
.c-eolie .repartition .graphbar__segment.citoyen:nth-child(3) {
  background: #4296a0;
}
.c-eolie .repartition .financer.citoyen:nth-child(3) .dot {
  background: #4296a0;
}
.c-eolie .repartition .graphbar__segment.citoyen:nth-child(4) {
  background: #3b858e;
}
.c-eolie .repartition .financer.citoyen:nth-child(4) .dot {
  background: #3b858e;
}
.c-eolie .repartition .graphbar__segment.citoyen:nth-child(5) {
  background: #33747c;
}
.c-eolie .repartition .financer.citoyen:nth-child(5) .dot {
  background: #33747c;
}
.c-eolie .repartition .graphbar__segment.citoyen:nth-child(6) {
  background: #2c636a;
}
.c-eolie .repartition .financer.citoyen:nth-child(6) .dot {
  background: #2c636a;
}
.c-eolie .repartition .graphbar__segment.citoyen:nth-child(7) {
  background: #245258;
}
.c-eolie .repartition .financer.citoyen:nth-child(7) .dot {
  background: #245258;
}
.c-eolie .repartition #segment-prive-1 {
  background: #d9d9d9;
}
.c-eolie .repartition #financer-prive-1 .dot {
  background: #d9d9d9;
}
.c-eolie .repartition #segment-prive-2 {
  background: #bfbfbf;
}
.c-eolie .repartition #financer-prive-2 .dot {
  background: #bfbfbf;
}
.c-eolie .repartition #segment-prive-3 {
  background: #a6a6a6;
}
.c-eolie .repartition #financer-prive-3 .dot {
  background: #a6a6a6;
}
.c-eolie .repartition #segment-prive-4 {
  background: #8c8c8c;
}
.c-eolie .repartition #financer-prive-4 .dot {
  background: #8c8c8c;
}
.c-eolie .repartition #segment-prive-5 {
  background: #737373;
}
.c-eolie .repartition #financer-prive-5 .dot {
  background: #737373;
}
.c-eolie .repartition #segment-prive-6 {
  background: #595959;
}
.c-eolie .repartition #financer-prive-6 .dot {
  background: #595959;
}
.c-eolie .p-details .p-details__equi:before {
  border-color: transparent transparent #5ab1bb;
}
.c-eolie .p-details .p-details__nrg i, .c-eolie .p-details .p-details__equi {
  background-color: #5ab1bb;
}
.c-eolie .p-details .p-details__infos {
  color: #5ab1bb;
}
.c-eolie .testimony {
  background: url("../img/bg-vector-1.png") no-repeat bottom left, -webkit-radial-gradient(#77bfc7, #5ab1bb), center no-repeat #5ab1bb scroll;
  background: url("../img/bg-vector-1.png") no-repeat bottom left, radial-gradient(#77bfc7, #5ab1bb), center no-repeat #5ab1bb scroll;
}
.c-eolie .card-project, .c-eolie .filter-nrj {
  background: none #5ab1bb;
}
.c-eolie .card-project .card__icon:before, .c-eolie .filter-nrj .card__icon:before {
  content: "\e90e";
}
.c-eolie .card-project .icon-filter:before, .c-eolie .filter-nrj .icon-filter:before {
  content: "\e90d";
}
.c-eolie.card-map .link-cta {
  color: #5ab1bb;
}

.c-micro .etapes .dotline__step > .dot,
.c-micro .etapes .dotline::before,
.c-micro .etapes .dotline__step.is-active .dot::before,
.c-micro .etapes .dotline__line::before,
.c-micro .etapes .dotline__line .start {
  background: #5268b9;
}
.c-micro .etapes .dotline__step.is-active .dot,
.c-micro .etapes .dotline__step.is-inactive .dot,
.c-micro .etapes .dotline__line .end {
  border-color: #5268b9;
}
.c-micro .etapes .dotline__step.is-inactive .dot {
  background: #fff;
}
.c-micro .etapes .dotline__step.is-active .micro-legende {
  color: #5268b9;
}
.c-micro .repartition .graphbar__segment.citoyen:nth-child(1) {
  background: #5268b9;
}
.c-micro .repartition .financer.citoyen:nth-child(1) .dot {
  background: #5268b9;
}
.c-micro .repartition .graphbar__segment.citoyen:nth-child(2) {
  background: #465bac;
}
.c-micro .repartition .financer.citoyen:nth-child(2) .dot {
  background: #465bac;
}
.c-micro .repartition .graphbar__segment.citoyen:nth-child(3) {
  background: #3e529a;
}
.c-micro .repartition .financer.citoyen:nth-child(3) .dot {
  background: #3e529a;
}
.c-micro .repartition .graphbar__segment.citoyen:nth-child(4) {
  background: #374888;
}
.c-micro .repartition .financer.citoyen:nth-child(4) .dot {
  background: #374888;
}
.c-micro .repartition .graphbar__segment.citoyen:nth-child(5) {
  background: #303e75;
}
.c-micro .repartition .financer.citoyen:nth-child(5) .dot {
  background: #303e75;
}
.c-micro .repartition .graphbar__segment.citoyen:nth-child(6) {
  background: #283563;
}
.c-micro .repartition .financer.citoyen:nth-child(6) .dot {
  background: #283563;
}
.c-micro .repartition .graphbar__segment.citoyen:nth-child(7) {
  background: #212b51;
}
.c-micro .repartition .financer.citoyen:nth-child(7) .dot {
  background: #212b51;
}
.c-micro .repartition #segment-prive-1 {
  background: #d9d9d9;
}
.c-micro .repartition #financer-prive-1 .dot {
  background: #d9d9d9;
}
.c-micro .repartition #segment-prive-2 {
  background: #bfbfbf;
}
.c-micro .repartition #financer-prive-2 .dot {
  background: #bfbfbf;
}
.c-micro .repartition #segment-prive-3 {
  background: #a6a6a6;
}
.c-micro .repartition #financer-prive-3 .dot {
  background: #a6a6a6;
}
.c-micro .repartition #segment-prive-4 {
  background: #8c8c8c;
}
.c-micro .repartition #financer-prive-4 .dot {
  background: #8c8c8c;
}
.c-micro .repartition #segment-prive-5 {
  background: #737373;
}
.c-micro .repartition #financer-prive-5 .dot {
  background: #737373;
}
.c-micro .repartition #segment-prive-6 {
  background: #595959;
}
.c-micro .repartition #financer-prive-6 .dot {
  background: #595959;
}
.c-micro .p-details .p-details__equi:before {
  border-color: transparent transparent #5268b9;
}
.c-micro .p-details .p-details__nrg i, .c-micro .p-details .p-details__equi {
  background-color: #5268b9;
}
.c-micro .p-details .p-details__infos {
  color: #5268b9;
}
.c-micro .testimony {
  background: url("../img/bg-vector-1.png") no-repeat bottom left, -webkit-radial-gradient(#6f81c5, #5268b9), center no-repeat #5268b9 scroll;
  background: url("../img/bg-vector-1.png") no-repeat bottom left, radial-gradient(#6f81c5, #5268b9), center no-repeat #5268b9 scroll;
}
.c-micro .card-project, .c-micro .filter-nrj {
  background: none #5268b9;
}
.c-micro .card-project .card__icon:before, .c-micro .filter-nrj .card__icon:before {
  content: "\e918";
}
.c-micro .card-project .icon-filter:before, .c-micro .filter-nrj .icon-filter:before {
  content: "\e917";
}
.c-micro.card-map .link-cta {
  color: #5268b9;
}

.c-bioma .etapes .dotline__step > .dot,
.c-bioma .etapes .dotline::before,
.c-bioma .etapes .dotline__step.is-active .dot::before,
.c-bioma .etapes .dotline__line::before,
.c-bioma .etapes .dotline__line .start {
  background: #83ab00;
}
.c-bioma .etapes .dotline__step.is-active .dot,
.c-bioma .etapes .dotline__step.is-inactive .dot,
.c-bioma .etapes .dotline__line .end {
  border-color: #83ab00;
}
.c-bioma .etapes .dotline__step.is-inactive .dot {
  background: #fff;
}
.c-bioma .etapes .dotline__step.is-active .micro-legende {
  color: #83ab00;
}
.c-bioma .repartition .graphbar__segment.citoyen:nth-child(1) {
  background: #83ab00;
}
.c-bioma .repartition .financer.citoyen:nth-child(1) .dot {
  background: #83ab00;
}
.c-bioma .repartition .graphbar__segment.citoyen:nth-child(2) {
  background: #6f9200;
}
.c-bioma .repartition .financer.citoyen:nth-child(2) .dot {
  background: #6f9200;
}
.c-bioma .repartition .graphbar__segment.citoyen:nth-child(3) {
  background: #5c7800;
}
.c-bioma .repartition .financer.citoyen:nth-child(3) .dot {
  background: #5c7800;
}
.c-bioma .repartition .graphbar__segment.citoyen:nth-child(4) {
  background: #485f00;
}
.c-bioma .repartition .financer.citoyen:nth-child(4) .dot {
  background: #485f00;
}
.c-bioma .repartition .graphbar__segment.citoyen:nth-child(5) {
  background: #354500;
}
.c-bioma .repartition .financer.citoyen:nth-child(5) .dot {
  background: #354500;
}
.c-bioma .repartition .graphbar__segment.citoyen:nth-child(6) {
  background: #212c00;
}
.c-bioma .repartition .financer.citoyen:nth-child(6) .dot {
  background: #212c00;
}
.c-bioma .repartition .graphbar__segment.citoyen:nth-child(7) {
  background: #0e1200;
}
.c-bioma .repartition .financer.citoyen:nth-child(7) .dot {
  background: #0e1200;
}
.c-bioma .repartition #segment-prive-1 {
  background: #d9d9d9;
}
.c-bioma .repartition #financer-prive-1 .dot {
  background: #d9d9d9;
}
.c-bioma .repartition #segment-prive-2 {
  background: #bfbfbf;
}
.c-bioma .repartition #financer-prive-2 .dot {
  background: #bfbfbf;
}
.c-bioma .repartition #segment-prive-3 {
  background: #a6a6a6;
}
.c-bioma .repartition #financer-prive-3 .dot {
  background: #a6a6a6;
}
.c-bioma .repartition #segment-prive-4 {
  background: #8c8c8c;
}
.c-bioma .repartition #financer-prive-4 .dot {
  background: #8c8c8c;
}
.c-bioma .repartition #segment-prive-5 {
  background: #737373;
}
.c-bioma .repartition #financer-prive-5 .dot {
  background: #737373;
}
.c-bioma .repartition #segment-prive-6 {
  background: #595959;
}
.c-bioma .repartition #financer-prive-6 .dot {
  background: #595959;
}
.c-bioma .p-details .p-details__equi:before {
  border-color: transparent transparent #83ab00;
}
.c-bioma .p-details .p-details__nrg i, .c-bioma .p-details .p-details__equi {
  background-color: #83ab00;
}
.c-bioma .p-details .p-details__infos {
  color: #83ab00;
}
.c-bioma .testimony {
  background: url("../img/bg-vector-1.png") no-repeat bottom left, -webkit-radial-gradient(#a2d400, #83ab00), center no-repeat #83ab00 scroll;
  background: url("../img/bg-vector-1.png") no-repeat bottom left, radial-gradient(#a2d400, #83ab00), center no-repeat #83ab00 scroll;
}
.c-bioma .card-project, .c-bioma .filter-nrj {
  background: none #83ab00;
}
.c-bioma .card-project .card__icon:before, .c-bioma .filter-nrj .card__icon:before {
  content: "\e902";
}
.c-bioma .card-project .icon-filter:before, .c-bioma .filter-nrj .icon-filter:before {
  content: "\e901";
}
.c-bioma.card-map .link-cta {
  color: #83ab00;
}

.c-geoth .etapes .dotline__step > .dot,
.c-geoth .etapes .dotline::before,
.c-geoth .etapes .dotline__step.is-active .dot::before,
.c-geoth .etapes .dotline__line::before,
.c-geoth .etapes .dotline__line .start {
  background: #e7511e;
}
.c-geoth .etapes .dotline__step.is-active .dot,
.c-geoth .etapes .dotline__step.is-inactive .dot,
.c-geoth .etapes .dotline__line .end {
  border-color: #e7511e;
}
.c-geoth .etapes .dotline__step.is-inactive .dot {
  background: #fff;
}
.c-geoth .etapes .dotline__step.is-active .micro-legende {
  color: #e7511e;
}
.c-geoth .repartition .graphbar__segment.citoyen:nth-child(1) {
  background: #e7511e;
}
.c-geoth .repartition .financer.citoyen:nth-child(1) .dot {
  background: #e7511e;
}
.c-geoth .repartition .graphbar__segment.citoyen:nth-child(2) {
  background: #d54717;
}
.c-geoth .repartition .financer.citoyen:nth-child(2) .dot {
  background: #d54717;
}
.c-geoth .repartition .graphbar__segment.citoyen:nth-child(3) {
  background: #be3f14;
}
.c-geoth .repartition .financer.citoyen:nth-child(3) .dot {
  background: #be3f14;
}
.c-geoth .repartition .graphbar__segment.citoyen:nth-child(4) {
  background: #a73812;
}
.c-geoth .repartition .financer.citoyen:nth-child(4) .dot {
  background: #a73812;
}
.c-geoth .repartition .graphbar__segment.citoyen:nth-child(5) {
  background: #90300f;
}
.c-geoth .repartition .financer.citoyen:nth-child(5) .dot {
  background: #90300f;
}
.c-geoth .repartition .graphbar__segment.citoyen:nth-child(6) {
  background: #79280d;
}
.c-geoth .repartition .financer.citoyen:nth-child(6) .dot {
  background: #79280d;
}
.c-geoth .repartition .graphbar__segment.citoyen:nth-child(7) {
  background: #62210a;
}
.c-geoth .repartition .financer.citoyen:nth-child(7) .dot {
  background: #62210a;
}
.c-geoth .repartition #segment-prive-1 {
  background: #d9d9d9;
}
.c-geoth .repartition #financer-prive-1 .dot {
  background: #d9d9d9;
}
.c-geoth .repartition #segment-prive-2 {
  background: #bfbfbf;
}
.c-geoth .repartition #financer-prive-2 .dot {
  background: #bfbfbf;
}
.c-geoth .repartition #segment-prive-3 {
  background: #a6a6a6;
}
.c-geoth .repartition #financer-prive-3 .dot {
  background: #a6a6a6;
}
.c-geoth .repartition #segment-prive-4 {
  background: #8c8c8c;
}
.c-geoth .repartition #financer-prive-4 .dot {
  background: #8c8c8c;
}
.c-geoth .repartition #segment-prive-5 {
  background: #737373;
}
.c-geoth .repartition #financer-prive-5 .dot {
  background: #737373;
}
.c-geoth .repartition #segment-prive-6 {
  background: #595959;
}
.c-geoth .repartition #financer-prive-6 .dot {
  background: #595959;
}
.c-geoth .p-details .p-details__equi:before {
  border-color: transparent transparent #e7511e;
}
.c-geoth .p-details .p-details__nrg i, .c-geoth .p-details .p-details__equi {
  background-color: #e7511e;
}
.c-geoth .p-details .p-details__infos {
  color: #e7511e;
}
.c-geoth .testimony {
  background: url("../img/bg-vector-1.png") no-repeat bottom left, -webkit-radial-gradient(#eb6e43, #e7511e), center no-repeat #e7511e scroll;
  background: url("../img/bg-vector-1.png") no-repeat bottom left, radial-gradient(#eb6e43, #e7511e), center no-repeat #e7511e scroll;
}
.c-geoth .card-project, .c-geoth .filter-nrj {
  background: none #e7511e;
}
.c-geoth .card-project .card__icon:before, .c-geoth .filter-nrj .card__icon:before {
  content: "\e914";
}
.c-geoth .card-project .icon-filter:before, .c-geoth .filter-nrj .icon-filter:before {
  content: "\e913";
}
.c-geoth.card-map .link-cta {
  color: #e7511e;
}

.c-econo .etapes .dotline__step > .dot,
.c-econo .etapes .dotline::before,
.c-econo .etapes .dotline__step.is-active .dot::before,
.c-econo .etapes .dotline__line::before,
.c-econo .etapes .dotline__line .start {
  background: #b7115b;
}
.c-econo .etapes .dotline__step.is-active .dot,
.c-econo .etapes .dotline__step.is-inactive .dot,
.c-econo .etapes .dotline__line .end {
  border-color: #b7115b;
}
.c-econo .etapes .dotline__step.is-inactive .dot {
  background: #fff;
}
.c-econo .etapes .dotline__step.is-active .micro-legende {
  color: #b7115b;
}
.c-econo .repartition .graphbar__segment.citoyen:nth-child(1) {
  background: #b7115b;
}
.c-econo .repartition .financer.citoyen:nth-child(1) .dot {
  background: #b7115b;
}
.c-econo .repartition .graphbar__segment.citoyen:nth-child(2) {
  background: #a00f4f;
}
.c-econo .repartition .financer.citoyen:nth-child(2) .dot {
  background: #a00f4f;
}
.c-econo .repartition .graphbar__segment.citoyen:nth-child(3) {
  background: #880d44;
}
.c-econo .repartition .financer.citoyen:nth-child(3) .dot {
  background: #880d44;
}
.c-econo .repartition .graphbar__segment.citoyen:nth-child(4) {
  background: #710a38;
}
.c-econo .repartition .financer.citoyen:nth-child(4) .dot {
  background: #710a38;
}
.c-econo .repartition .graphbar__segment.citoyen:nth-child(5) {
  background: #5a082d;
}
.c-econo .repartition .financer.citoyen:nth-child(5) .dot {
  background: #5a082d;
}
.c-econo .repartition .graphbar__segment.citoyen:nth-child(6) {
  background: #420621;
}
.c-econo .repartition .financer.citoyen:nth-child(6) .dot {
  background: #420621;
}
.c-econo .repartition .graphbar__segment.citoyen:nth-child(7) {
  background: #2b0415;
}
.c-econo .repartition .financer.citoyen:nth-child(7) .dot {
  background: #2b0415;
}
.c-econo .repartition #segment-prive-1 {
  background: #d9d9d9;
}
.c-econo .repartition #financer-prive-1 .dot {
  background: #d9d9d9;
}
.c-econo .repartition #segment-prive-2 {
  background: #bfbfbf;
}
.c-econo .repartition #financer-prive-2 .dot {
  background: #bfbfbf;
}
.c-econo .repartition #segment-prive-3 {
  background: #a6a6a6;
}
.c-econo .repartition #financer-prive-3 .dot {
  background: #a6a6a6;
}
.c-econo .repartition #segment-prive-4 {
  background: #8c8c8c;
}
.c-econo .repartition #financer-prive-4 .dot {
  background: #8c8c8c;
}
.c-econo .repartition #segment-prive-5 {
  background: #737373;
}
.c-econo .repartition #financer-prive-5 .dot {
  background: #737373;
}
.c-econo .repartition #segment-prive-6 {
  background: #595959;
}
.c-econo .repartition #financer-prive-6 .dot {
  background: #595959;
}
.c-econo .p-details .p-details__equi:before {
  border-color: transparent transparent #b7115b;
}
.c-econo .p-details .p-details__nrg i, .c-econo .p-details .p-details__equi {
  background-color: #b7115b;
}
.c-econo .p-details .p-details__infos {
  color: #b7115b;
}
.c-econo .testimony {
  background: url("../img/bg-vector-1.png") no-repeat bottom left, -webkit-radial-gradient(#dc146e, #b7115b), center no-repeat #b7115b scroll;
  background: url("../img/bg-vector-1.png") no-repeat bottom left, radial-gradient(#dc146e, #b7115b), center no-repeat #b7115b scroll;
}
.c-econo .card-project, .c-econo .filter-nrj {
  background: none #b7115b;
}
.c-econo .card-project .card__icon:before, .c-econo .filter-nrj .card__icon:before {
  content: "\e90c";
}
.c-econo .card-project .icon-filter:before, .c-econo .filter-nrj .icon-filter:before {
  content: "\e90b";
}
.c-econo.card-map .link-cta {
  color: #b7115b;
}

@media screen and (min-width: 600px) {
  .following.box {
    justify-content: inherit;
  }
  .following.box .box__social {
    width: inherit;
  }
  .following.box .box__btn {
    margin-left: auto;
  }

  .a-project .wrap-bg.c-main:after {
    right: 21.5rem;
  }
  .a-project .wrap-bg.c-main .box__half:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 830px) {
  .steps {
    padding-left: 8rem;
  }

  .a-project .wrap-bg.c-main .box__half:first-child {
    max-width: 300px;
  }

  .input-n-btn .box__solo {
    padding-right: 4rem;
  }

  .start {
    position: absolute;
    left: 0;
    top: -9px;
    width: 2px;
    height: 20px;
    background: #65aa04;
  }

  .end {
    position: absolute;
    right: 0;
    top: -5px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #65aa04;
    border-right: 2px solid #65aa04;
    transform: rotate(45deg);
    transform-origin: center;
  }

  .dotline__line {
    top: 37px;
  }
  .dotline__line + .dotline__step {
    margin-left: 8rem;
  }

  .dotline__step:last-child {
    margin-right: 8rem;
  }

  .dotline__step {
    height: 62px;
  }
  .dotline__step .dot {
    margin-top: 30px;
  }
  .dotline__step .micro-legende {
    display: block;
  }
}
