/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.fluxi-content p a, .fluxi-content .list li a, .fluxi-content p a::after, .fluxi-content .list li a::after, .accordion .accordion__head, .transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix, .fluxi-content .img__left, .fluxi-content .img__right, .fluxi-content .accordion__content {
  *zoom: 1;
}
.clearfix:before, .fluxi-content .img__left:before, .fluxi-content .img__right:before, .fluxi-content .accordion__content:before, .clearfix:after, .fluxi-content .img__left:after, .fluxi-content .img__right:after, .fluxi-content .accordion__content:after {
  content: " ";
  display: table;
}
.clearfix:after, .fluxi-content .img__left:after, .fluxi-content .img__right:after, .fluxi-content .accordion__content:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
.fluxi-content p a, .fluxi-content .list li a {
  position: relative;
  font-family: "avantgarde", Arial;
  font-size: 1.4rem;
  color: #65aa04;
  text-decoration: none;
  text-transform: uppercase;
}
.fluxi-content p a::after, .fluxi-content .list li a::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #65aa04;
}
.fluxi-content p a:hover::after, .fluxi-content .list li a:hover::after {
  width: 100%;
}

/* Nav helpers */
.fluxi-wrap {
  background-color: #fff;
  margin: -40rem auto 10rem;
  border-radius: 3px 3px 0 0;
  min-height: 200px;
}
.fluxi-wrap .wrap-extend .img-responsive {
  border-radius: 3px;
  margin: 0 auto;
}
.fluxi-wrap h2.description {
  padding-top: 5rem;
}

.fluxi-content .h3 {
  margin-top: 5rem;
}
.fluxi-content .social {
  margin: 0 0 4rem;
}
.fluxi-content .social:after {
  border-top: 2px solid #f2f2f2;
  content: "";
  width: 10rem;
  height: 1px;
  display: block;
  margin: 4rem 0 5rem;
}
.fluxi-content p {
  margin-bottom: 3rem;
}
.fluxi-content p a, .fluxi-content .list li a {
  font-family: "Georgia", serif;
  text-transform: inherit;
}
.fluxi-content .img__left, .fluxi-content .img__right, .fluxi-content .accordion__content {
  margin-bottom: 5rem;
}
.fluxi-content .img__left .img_mini, .fluxi-content .img__left .img_med, .fluxi-content .img__right .img_mini, .fluxi-content .img__right .img_med, .fluxi-content .accordion__content .img_mini, .fluxi-content .accordion__content .img_med {
  max-width: 156px;
  margin-right: 2rem;
  float: left;
}
.fluxi-content .img__left p:last-child, .fluxi-content .img__right p:last-child, .fluxi-content .accordion__content p:last-child {
  margin-bottom: 0;
}
.fluxi-content .img__right .img_mini, .fluxi-content .img__right .img_med {
  margin-right: 0;
  margin-left: 2rem;
  float: right;
}
.fluxi-content .list {
  margin: 3rem 0 4rem 4rem;
  padding: 0;
  font-family: "Georgia", serif;
  color: #555555;
}
.fluxi-content .list li {
  margin-bottom: 2rem;
}
.fluxi-content .lightbox .figure {
  margin-bottom: 6rem;
}
.fluxi-content .lightbox .legend {
  padding: 0;
  margin-top: 0.5rem;
}
.fluxi-content .entry-content-asset {
  margin-bottom: 4rem;
}
.fluxi-content .galerie {
  margin: 4rem auto;
}

.fluxi-link .legend {
  font-weight: normal;
  text-transform: none;
}

.clikable.wide {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}
.clikable.wide .wrap-space.box {
  z-index: 2;
  position: relative;
}
.clikable.wide:before {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: 1;
  transform: scaleX(5);
}
.clikable.wide .box__half:first-child {
  max-width: 300px;
  margin: 0 auto 2rem;
}
.clikable.wide .box__half:last-child {
  padding-right: 0;
  margin-bottom: 0;
}
.clikable.wide .clikable__title {
  margin-bottom: 1rem;
}
.clikable.wide .button {
  margin-top: 0;
}
.clikable.wide .lightbox {
  margin-bottom: 6rem;
}

.holder-round {
  border-radius: 50%;
  overflow: hidden;
  width: 260px;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.clikarde {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  margin: 5rem 0;
  padding: 0;
}
.clikarde .clikarde__item {
  flex: 1 1 100%;
  margin-bottom: 2rem;
}
.clikarde .clikarde__item:last-child {
  margin-bottom: 0;
}

.accordion .accordion__head {
  border-bottom: 2px solid #f2f2f2;
  font-weight: normal;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-top: 0;
}
.accordion .accordion__head i {
  color: #b3b3b3;
  align-self: center;
  margin-right: 1rem;
  font-size: 3.2rem;
  display: inline-block;
  vertical-align: middle;
}
.accordion .accordion__content {
  padding-top: 1rem;
  display: none;
}
.accordion .accordion__content .h6 {
  padding: 0 0 2rem;
  margin: 0;
}

.accordion.open .accordion__head i {
  color: #122c33;
  transform: rotate(90deg);
}

@media screen and (min-width: 600px) {
  .clikable.wide {
    text-align: left;
  }
  .clikable.wide .box__half, .clikable.wide .box__half:first-child {
    margin-bottom: 0;
  }

  .clikarde {
    width: 100%;
    flex-flow: row wrap;
  }
  .clikarde .clikarde__item {
    flex: 1 1 50%;
    padding-right: 2rem;
    margin-bottom: 0;
  }
  .clikarde .clikarde__item:last-child {
    padding-right: 0;
  }
  .clikarde .clikarde__item:nth-child(3) {
    margin-top: 2rem;
  }
  .clikarde .clikarde__item + .clikarde__item:last-child,
  .clikarde .clikarde__item + .clikarde__item {
    padding-right: 0;
  }
}
@media screen and (min-width: 830px) {
  .fluxi-content .lightbox .legend {
    padding: 0 8rem;
  }

  .clikarde {
    flex-flow: row nowrap;
    width: 830px;
    transform: translateX(-8rem);
  }
  .clikarde .clikarde__item {
    flex: 1 1 0;
    margin-bottom: 0;
  }
  .clikarde .clikarde__item:nth-child(3) {
    margin-top: 0;
  }
  .clikarde .clikarde__item + .clikarde__item {
    padding-right: 2rem;
  }
}
