/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.map-filters, .list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/* COLORS PROJECT */
/*------------------------------*\
    #MAP
\*------------------------------*/
.map-projects {
  background-color: #f2f2f2;
}

.map-filters li {
  display: inline-block;
}
.map-filters .tag {
  cursor: pointer;
  border-color: #65aa04;
  color: #65aa04;
}

.map-filters .tag:hover, .map-filters .tag.js-f-active {
  background-color: #122c33;
  border-color: #122c33;
  color: #fff;
}
.map-filters .tag.js-f-active:before {
  content: "X";
  padding-right: 0.2rem;
}
.map-filters .filter-nrj:hover {
  background-color: #122c33;
}
.map-filters .filter-nrj.js-f-active {
  background-color: #122c33;
}
.map-filters .filter-nrj.js-f-active .icon-filter:before {
  content: "\e909";
}

.map-holder {
  position: relative;
}
.map-holder #map {
  width: 100%;
  height: 444px;
}
.map-holder #map.loader {
  background: url("../img/loading.gif") center center no-repeat #f2f2f2;
}
.map-holder .cards-map .card-map {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  background: #fff none;
  height: 100%;
}

.a-project .map-holder {
  margin-top: 6rem;
}
