/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.tags, .list-reset, .box-logos {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
.card {
  color: #fff;
  display: block;
  height: 100%;
  position: relative;
}
.card .card__infos {
  padding: 2rem;
}
.card .card__infos .p-ss {
  color: #fff;
}
.card .card__title {
  margin-bottom: 0;
}
.card .card__img {
  position: relative;
}
.card .card__icon {
  bottom: 0.5rem;
  font-size: 9rem;
  left: 0.5rem;
  position: absolute;
}

.minicard {
  display: flex;
  flex: 1 1 0;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: flex-start;
  margin-top: 0;
  padding: 2rem;
  text-transform: none;
}
.minicard:after {
  background: none #65aa04;
}
.minicard .clikable__title {
  color: #fff;
  margin-bottom: 1rem;
}
.minicard .p-ss {
  color: #fff;
  font-weight: normal;
}
.minicard .link {
  color: #fff;
  font-weight: normal;
  margin-top: auto;
}

/*------------------------------*\

    # LAYOUTS
	# Modules de mise en page
	
\*------------------------------*/
.top-display {
  height: 3rem;
  background: #122c33 none;
  text-align: right;
  padding: 0 5rem;
}
.top-display .p-ss {
  margin: 0;
  font-size: 1.4rem;
  color: #fff;
  padding-top: 0.3rem;
}
.top-display .p-ss a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.header-bloc {
  background: url("../img/bg-header.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 10rem;
}
.header-bloc .h1 {
  margin-bottom: 5rem;
}
.header-bloc .h4 {
  margin-bottom: 0;
  margin-top: 3rem;
  color: #fff;
}

.page .header-bloc, .single .header-bloc, .search-results .header-bloc {
  padding-bottom: 26rem;
}
.page .header-bloc .h1, .single .header-bloc .h1, .search-results .header-bloc .h1 {
  margin: 1rem auto 0;
}

.archive .header-bloc, .category .header-bloc, .search-results .header-bloc {
  padding-bottom: 18rem;
}

.tags {
  display: flex;
  justify-content: center;
}
.tags li {
  margin: 0 1rem 1rem 0;
}
.tags li:last-child {
  margin-right: 0;
}
.tags li .tag {
  color: #fff;
}
.tags li.tag {
  background-color: #fff;
  color: #122c33;
}

.tag {
  font-size: 1.2rem;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: inline-block;
}

.card.card-project {
  background: #5ab1bb;
}

.card.card-news .card__infos {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.card.card-news .card__title {
  margin-top: 2rem;
}
.card.card-news .tag {
  text-transform: uppercase;
}

.round__img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

/******* TEST ALL CATEGORIES ************/
[class*=" page-template-page-categories"] .card {
  color: #fff;
  display: block;
  height: 100%;
  margin: 1.5rem auto;
  max-height: 190px;
  max-width: 30%;
  min-height: 190px;
  overflow: hidden;
  position: relative;
}

[class*=" page-template-page-categories"] .wrap-l {
  padding: 0;
}

/******* END TEST ALL CATEGORIES ************/
.duo-card .head__flex .s-title {
  margin-bottom: 0;
  margin-top: 1.2rem;
}
.duo-card .head__flex .box__half {
  flex: 0 1 auto;
  text-align: right;
}
.duo-card .head__flex .lighter {
  color: #b3b3b3;
  text-align: right;
  display: none;
  padding-right: 1rem;
}
.duo-card .head__flex .social {
  display: inline-block;
  margin: 0;
}

.trio-card {
  background: url("../img/shape-grid-1.png") repeat 0 0 #f2f2f2;
}
.trio-card .box__half {
  display: block;
  width: 100%;
}
.trio-card .box__fixe {
  display: none;
}
.trio-card .button {
  margin-top: 3rem;
}

/* Courtcircuit */
.courtcircuit {
  padding-bottom: 10rem;
}
.courtcircuit .wrap-n {
  background: -webkit-radial-gradient(#ed7b34, #eb6c1d), center no-repeat #eb6c1d scroll;
  background: radial-gradient(#ed7b34, #eb6c1d), center no-repeat #eb6c1d scroll;
  border-radius: 3px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.courtcircuit .box__half.input__fixe {
  flex: 10 1 0;
  margin-bottom: 0;
  margin-right: 2rem;
}
.courtcircuit .box__fixe {
  flex: 1 1 0;
}
.courtcircuit .courtcircuit__title {
  display: flex;
  margin: 0;
  align-items: baseline;
  justify-content: center;
}
.courtcircuit .courtcircuit__decoleft .img-svg, .courtcircuit .courtcircuit__decoright .img-svg {
  width: 90px;
  height: 54px;
  margin: 0 5px 5px;
}
.courtcircuit .courtcircuit__decoright .img-svg {
  margin: 0 0 5px 5px;
}
.courtcircuit .courtcircuit__logo .img-svg {
  height: 29px;
  margin-bottom: 10px;
  width: 226px;
}
.courtcircuit .courtcircuit__text {
  color: #fff;
}

.courtcircuit__input {
  background: none transparent;
  border-bottom: 1px solid #f57f35;
  color: #fff;
  font-family: "avantgarde", Arial;
  font-size: 3.4rem;
  height: 100%;
  width: 100%;
  padding: 0.4rem 1rem;
}
.courtcircuit__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.courtcircuit__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.courtcircuit__input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.courtcircuit__input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

/* Top credibility */
.top-credibility .wrap-n {
  background: #f2f2f2;
  border-radius: 3px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.top-credibility .box-logos__btn {
  margin-bottom: 0;
}

/* Box logos */
.box-logos {
  flex-wrap: wrap;
  justify-content: center;
}

.box-logos__item {
  flex: 1 1 100%;
  margin: 0 auto 4rem;
}
.box-logos__item .box-logos__logo {
  border-radius: 3px;
  overflow: hidden;
  display: block;
}
.box-logos__item .box-logos__logo img {
  display: block;
  width: 100%;
}

.box-logos__btn {
  align-self: center;
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (min-width: 300px) {
  .box-logos__item {
    margin: 0 1rem 4rem;
    max-width: 45%;
  }
  .box-logos__item .box-logos__logo {
    border-radius: 3px;
    display: block;
    margin: auto;
    max-width: 190px;
    overflow: hidden;
  }
}
@media screen and (min-width: 600px) {
  .top-display {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .header-bloc {
    padding-top: 16rem;
  }

  .duo-card .box__half {
    margin-bottom: 0;
  }

  .duo-card .head__flex .s-title {
    text-align: left;
    margin-bottom: 6rem;
  }
  .duo-card .head__flex .box__half {
    flex: 1;
  }

  .trio-card .box__half:nth-child(3) {
    padding-right: 0;
  }

  .courtcircuit .box__half.input__fixe {
    flex: 1;
    margin-right: 0;
  }
  .courtcircuit .box__half {
    margin-bottom: 0;
    align-self: center;
  }

  .box-logos {
    justify-content: space-between;
  }
  .box-logos .box-logos__item {
    flex: 1;
    margin: 0 2rem 0 0;
  }
  .box-logos .box-logos__item:nth-child(4) {
    margin-right: 4rem;
  }
  .box-logos .box-logos__btn {
    align-self: center;
    flex: inherit;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 830px) {
  .trio-card .box__half {
    flex: 41.5%;
    padding-right: 4rem;
    margin-bottom: 0;
  }
  .trio-card .box__half:nth-child(3) {
    padding-right: 4rem;
  }
  .trio-card .box__full {
    margin-bottom: 4rem;
  }
  .trio-card .box__full .card__img i {
    bottom: 12.5rem;
  }
  .trio-card .box__full .card__infos {
    background: #5ab1bb;
    bottom: 3rem;
    display: inline-block;
    position: absolute;
  }
  .trio-card .box__fixe {
    display: flex;
  }
  .trio-card .button {
    margin-top: 6rem;
  }

  .duo-card .head__flex .lighter {
    display: inline-block;
  }

  .top-credibility {
    background: -webkit-radial-gradient(#f70656, #c50545), center no-repeat #c50545 scroll;
    background: radial-gradient(#f70656, #c50545), center no-repeat #c50545 scroll;
  }
  .top-credibility .wrap-n {
    margin-top: 80px;
    position: relative;
    transform: translateY(-70px);
  }

  .box-logos .box-logos__btn {
    align-self: center;
    flex: inherit;
  }
}
