/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

.anim-out {
  transform: scale(0);
  opacity: 0;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/* COLORS PROJECT */
/*------------------------------*\

    #MICRO-MODULES

\*------------------------------*/
.spinner:before {
  content: "";
  margin: 30% auto;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5rem solid rgba(255, 255, 255, 0.2);
  border-right: 0.5rem solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5rem solid rgba(255, 255, 255, 0.2);
  border-left: 0.5rem solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinit 0.8s infinite linear;
  animation: spinit 0.8s infinite linear;
}

.spinner:before, .spinner:after {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

@-webkit-keyframes spinit {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinit {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
