/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/*------------------------------*\

    #MICRO-MODULES

\*------------------------------*/
.top-display {
  background: #122c33 none;
  text-align: right;
}
.top-display p {
  margin: 0;
  font-size: 1.4rem;
  padding: 0.6rem 5rem 0.6rem 0;
  color: #fff;
}
.top-display p a {
  color: #fff;
  text-decoration: underline;
}

.news-item {
  background: #f4f4f4;
  display: block;
  position: relative;
  height: 100%;
  color: #727272;
}
.news-item .news-date {
  background: #eb6c1d;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-family: "avantgarde", Arial;
  font-size: 0.9rem;
  height: 4rem;
  left: -2rem;
  line-height: 1.3rem;
  padding-top: 0.7rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -3rem;
  vertical-align: middle;
  width: 4rem;
  z-index: 5;
}
.news-item .news-date i {
  display: block;
  font-size: 1.4rem;
  font-style: normal;
}
.news-item p {
  position: relative;
  padding: 1.5rem 2.3rem 2rem;
}

.courtcircuit {
  padding: 6rem 0 0;
}
.courtcircuit .wrap-n {
  background: #eb6c1d;
  padding: 5rem 3.5rem;
  border-radius: 3px;
}
.courtcircuit h3 {
  display: flex;
  margin: 0;
  align-items: baseline;
  justify-content: center;
}
.courtcircuit .courtcircuit__decoleft .img-svg, .courtcircuit .courtcircuit__decoright .img-svg {
  width: 90px;
  height: 54px;
  margin: 0 5px 5px;
}
.courtcircuit .courtcircuit__decoright .img-svg {
  margin: 0 0 5px 5px;
}
.courtcircuit .courtcircuit__logo .img-svg {
  height: 29px;
  margin-bottom: 10px;
  width: 226px;
}
.courtcircuit p {
  color: #fff;
  font-size: 2rem;
}
.courtcircuit .box--half {
  align-self: center;
}

.courtcircuit--input {
  background: #eb6c1d;
  border-bottom: 1px solid #f57f35;
  color: #fff;
  font-family: "avantgarde", Arial;
  font-size: 3.4rem;
  height: 100%;
  width: 100%;
  padding: 0.4rem 1rem;
}
.courtcircuit--input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.courtcircuit--input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.courtcircuit--input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.courtcircuit--input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.top-credibility .wrap-n {
  background: #f4f4f4;
  border-radius: 3px;
  padding: 6rem 3.5rem 7rem;
}

@media screen and (min-width: 600px) {
  .courtcircuit .wrap-n {
    padding: 5rem;
  }

  .top-credibility .wrap-n {
    padding: 6rem 5rem 7rem;
  }
}
@media screen and (min-width: 800px) {
  .top-credibility {
    background: none #c60546;
    margin-top: 9.5rem;
  }
  .top-credibility .wrap-n {
    position: relative;
    top: -9.5rem;
    padding: 6rem 7.6rem 7rem;
  }

  .courtcircuit {
    padding-bottom: 10rem;
  }
  .courtcircuit .wrap-n {
    padding: 5rem 7.6rem;
  }
}
