/*------------------------------*\

    #CLASS

\*------------------------------*/
/* ANIMATION */
@keyframes slideUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* TRANSITIONS */
.f-btn__prev .txt, .f-btn__next .txt, .f-btn__prev .txt::after, .f-btn__next .txt::after, .transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

.anim-out {
  opacity: 0;
  transform: scale(0);
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
.f-btn__prev .txt, .f-btn__next .txt {
  position: relative;
  font-family: "avantgarde", Arial;
  font-size: 1.2rem;
  color: #65aa04;
  text-decoration: none;
  text-transform: uppercase;
}
.f-btn__prev .txt::after, .f-btn__next .txt::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #65aa04;
}
.f-btn__prev .txt:hover::after, .f-btn__next .txt:hover::after {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .f-btn__prev .txt, .f-btn__next .txt {
    font-size: 1.4rem;
  }
}

.f-btn__prev, .f-btn__next {
  margin-bottom: 3.5rem;
  display: flex;
  width: 100%;
}
.f-btn__prev i, .f-btn__next i {
  align-self: center;
  font-size: 3.2rem;
  color: #65aa04;
}
.f-btn__prev div, .f-btn__next div {
  align-self: center;
  padding-left: 1rem;
}

.f-btn__prev i {
  transform: rotate(180deg);
}

.suggestion-posts {
  display: flex;
}
