/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.link, .link::after, .transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/* COLORS PROJECT */
.link {
  position: relative;
  font-family: "avantgarde", Arial;
  font-size: 1.4rem;
  color: #65aa04;
  text-decoration: none;
  text-transform: uppercase;
}
.link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #65aa04;
}
.link:hover::after {
  width: 100%;
}

.button, .minicard {
  color: #65aa04;
  cursor: pointer;
  display: inline-block;
  font-family: "avantgarde", Arial;
  font-weight: bold;
  padding: 1.65rem 2rem 1.4rem;
  text-transform: uppercase;
  margin-top: 6rem;
  position: relative;
  z-index: 5;
  background: none;
  -webkit-font-smoothing: antialiased;
}
.button:before, .minicard:before {
  background: #000 none;
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 4px;
  width: 94%;
  z-index: -1;
}
.button:after, .minicard:after {
  background: #fff none;
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.button-round {
  background: transparent none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 6.6rem;
  height: 6.6rem;
  line-height: 1;
  padding: 0;
  text-align: center;
  width: 6.6rem;
}

/* Nav helpers */
/*------------------------------*\

    #BUTTONS

\*------------------------------*/
.button {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  line-height: 1;
}
.button [class^="icon-"], .button [class*=" icon-"] {
  font-size: 2rem;
  vertical-align: text-bottom;
  margin-right: 0.4rem;
}
.button::before {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.button:hover::before {
  -webkit-transform: scale(0.95) translateY(5%);
  transform: scale(0.95) translateY(5%);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.button.cta {
  padding: 1.6rem 3rem;
}

.button.green {
  color: #fff;
}
.button.green:after {
  background: #65aa04 none;
}

.button-round {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-round::hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.button-round.grey {
  color: #b3b3b3;
}

.social {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
}
.social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1rem;
}
.social li:last-child {
  margin-right: 0;
}
.social [class^="social--"], .social [class*=" social--"] {
  border-radius: 50%;
  display: block;
  text-align: center;
}
.social [class^="social--"]:before, .social [class*=" social--"]:before {
  background: #fff none;
}
.social [class^="social--"] i, .social [class*=" social--"] i {
  display: inline-block;
  font-size: 4rem;
  vertical-align: middle;
}

.icon-facebook_40, .icon-facebook_26 {
  color: #3b5998;
}

.icon-twitter_40, .icon-twitter_26 {
  color: #55acee;
}

.icon-youtube_40, .icon-youtube_26 {
  color: #dc2925;
}

.link-cta {
  color: #65aa04;
  cursor: pointer;
  display: inline-block;
  font-family: "avantgarde", Arial;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
}
.link-cta i, .link-cta span {
  display: inline-block;
  vertical-align: middle;
}
.link-cta i {
  margin-right: 1rem;
}

/* EDIT LINK FOR ADMINS */
.edit {
  background: #fff none;
  padding: 1rem 2rem;
  position: fixed;
  right: 0;
  top: 20%;
  border-radius: 3px 0 0 3px;
  border: 1px solid #83dc05;
  border-right: none;
}

@media screen and (min-width: 600px) {
  .holder-button {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 830px) {
  .button-round {
    display: block;
  }
}
