/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/*------------------------------*\

    #BUTTONS

\*------------------------------*/
.button {
  color: #65aa04;
  cursor: pointer;
  display: inline-block;
  font-family: "avantgarde", Arial;
  font-weight: bold;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  margin-top: 6rem;
  position: relative;
  z-index: 5;
}
.button:before {
  background: #000 none;
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 4px;
  width: 94%;
  z-index: -1;
}
.button:after {
  background: #fff none;
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.button.green {
  color: #fff;
}
.button.green:after {
  background: #65aa04 none;
}

.button-round {
  background: transparent none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 6.6rem;
  text-align: center;
  width: 6.6rem;
  padding: 0;
}
.button-round i:before {
  display: inline-block;
  font-size: 6.6rem;
}

.button-round.grey {
  color: #b3b3b3;
  border-color: #b3b3b3;
}

.social {
  padding: 0;
  margin: 1.2rem 0 0;
  font-size: 2.2rem;
}
.social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3px;
}
.social li:last-child {
  margin-right: 0;
}
.social [class^="social--"], .social [class*=" social--"] {
  background: #fff none;
  border-radius: 50%;
  color: #fff;
  display: block;
  text-align: center;
}
.social [class^="social--"] i, .social [class*=" social--"] i {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  vertical-align: middle;
  width: 4rem;
}

.navbar__id .social--face, .social .social--face {
  background: #3b5998 none;
}
.navbar__id .social--twit, .social .social--twit {
  background: #55acee none;
}
.navbar__id .social--yout, .social .social--yout {
  background: #dc2925 none;
}

@media screen and (min-width: 600px) {
  .holder-button {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 800px) {
  .button-round {
    display: block;
  }
}
