/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.footer .labels, .clearfix {
  *zoom: 1;
}
.footer .labels:before, .footer .labels:after, .clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.footer .labels:after, .clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset, .footer .labels {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/*------------------------------*\
    #FOOTER
\*------------------------------*/
.footer {
  background: #122c33;
  color: #fff;
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.footer .box .box__half {
  margin-bottom: 4rem;
}
.footer .box .box .box__solo {
  padding: 0;
  flex: auto;
  max-width: 100%;
}
.footer h2 {
  color: #fff;
}
.footer .courtcircuit__input {
  background: #122c33;
  border-bottom: 1px solid #2a4a53;
  color: #fff;
  font-family: "avantgarde", Arial;
  font-size: 3.4rem;
  height: 100%;
  padding: 0.4rem 1rem;
  width: 100%;
}
.footer .social {
  margin: 0;
}
.footer .labels {
  text-align: center;
}
.footer .labels .labels--img {
  width: 100%;
}
.footer .labels .labels--img a {
  display: inline-block;
  margin: 0 2rem 0 0;
  vertical-align: middle;
}
.footer .labels .labels--img a:last-child {
  margin-right: 0;
}
.footer .labels .labels--img img {
  width: 70px;
}
.footer .box__logos.box {
  margin-bottom: 4rem;
}

.nav-footer {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
  text-align: center;
  width: 100%;
}
.nav-footer .link {
  color: #fff;
}

@media screen and (min-width: 600px) {
  .footer .box:first-child {
    margin-bottom: 5rem;
  }
  .footer .box:first-child .box__half {
    max-width: 60%;
  }
  .footer .box:first-child .box__half:first-child {
    max-width: 31%;
  }
  .footer .box:first-child h2 {
    margin-bottom: 2rem;
  }
  .footer .box .box .box__solo {
    padding: 0;
    flex: 1 1 78%;
    max-width: 78%;
    margin-bottom: 0;
  }
  .footer .box .box__half {
    flex: 50%;
    max-width: 47.5%;
    margin-bottom: 0;
  }
  .footer .social {
    padding-top: 1rem;
  }
  .footer .labels {
    display: block;
    text-align: left;
  }
  .footer .labels .labels--img {
    float: left;
    width: 190px;
  }
  .footer .labels .labels--img:last-child {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .footer .box__logos.box {
    margin-bottom: 6rem;
  }
  .footer .nav-footer .link {
    margin-right: 2rem;
  }
}
