/*------------------------------*\

    #CLASS

\*------------------------------*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
.social__icon, .hamburger, .navbar__buttons .nav-bt, .nav__search__submit, .nav__search__close, .no-pp .nav__dropdown .dropdown__item a, .js-toggle, .no-pp .nav__dropdown .dropdown__item a::after, .js-toggle::after, .navbar, .navbar::before, .navbar__id,
.navbar__id.is-compact,
.no-touch nav:hover + .navbar__id, .logo__img,
.navbar__id.is-compact .logo__img,
.no-touch nav:hover + .navbar__id .logo__img, .navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social, .nav__primary, .no-pp .nav__item__title, .no-pp .nav__dropdown, .no-pp .nav__dropdown::before, .pp, .pp .nav__item__title::after, .pp .nav__dropdown, .pp .nav__dropdown .dropdown__item::before, .transition {
  transition: all 0.2s ease-in-out;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

@font-face {
  font-family: 'avantgarde';
  src: url("../../../fonts/avantgarde/avantgarde-regular-webfont.eot");
  src: url("../../../fonts/avantgarde/avantgarde-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/avantgarde/avantgarde-regular-webfont.woff2") format("woff2"), url("../../../fonts/avantgarde/avantgarde-regular-webfont.woff") format("woff"), url("../../../fonts/avantgarde/avantgarde-regular-webfont.ttf") format("truetype"), url("../../../fonts/avantgarde/avantgarde-regular-webfont.svg#texgyreadventorregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avantgarde';
  src: url("../../../fonts/avantgarde/avantgarde-bold-webfont.eot");
  src: url("../../../fonts/avantgarde/avantgarde-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/avantgarde/avantgarde-bold-webfont.woff2") format("woff2"), url("../../../fonts/avantgarde/avantgarde-bold-webfont.woff") format("woff"), url("../../../fonts/avantgarde/avantgarde-bold-webfont.ttf") format("truetype"), url("../../../fonts/avantgarde/avantgarde-bold-webfont.svg#texgyreadventorbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* Icon font */
@font-face {
  font-family: 'icomoon';
  src: url("../../../fonts/icofont/icomoon.eot?di891l");
  src: url("../../../fonts/icofont/icomoon.eot?di891l#iefix") format("embedded-opentype"), url("../../../fonts/icofont/icomoon.woff2?di891l") format("woff2"), url("../../../fonts/icofont/icomoon.ttf?di891l") format("truetype"), url("../../../fonts/icofont/icomoon.woff?di891l") format("woff"), url("../../../fonts/icofont/icomoon.svg?di891l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-round-check:before {
  content: "\e900";
}

.icon-round-next-arrow:before {
  content: "\e901";
}

.icon-round-next:before {
  content: "\e902";
}

.icon-round-plus:before {
  content: "\e903";
}

.icon-twitter:before {
  content: "\e040";
}

.icon-facebook:before {
  content: "\e041";
}

.icon-youtube:before {
  content: "\e051";
}

.icon-uniE600:before {
  content: "\e600";
}

.icon-uniE601:before {
  content: "\e601";
}

.icon-uniE602:before {
  content: "\e602";
}

.icon-uniE603:before {
  content: "\e603";
}

.icon-uniE604:before {
  content: "\e604";
}

.icon-uniE605:before {
  content: "\e605";
}

.icon-uniE606:before {
  content: "\e606";
}

.icon-uniE607:before {
  content: "\e607";
}

.icon-uniE608:before {
  content: "\e608";
}

.icon-uniE609:before {
  content: "\e609";
}

.icon-uniE60A:before {
  content: "\e60a";
}

.icon-uniE60B:before {
  content: "\e60b";
}

.icon-uniE60C:before {
  content: "\e60c";
}

.icon-uniE60D:before {
  content: "\e60d";
}

.icon-uniE60E:before {
  content: "\e60e";
}

.icon-uniE60F:before {
  content: "\e60f";
}

.icon-uniE610:before {
  content: "\e610";
}

.icon-uniE611:before {
  content: "\e611";
}

.icon-uniE612:before {
  content: "\e612";
}

.icon-uniE613:before {
  content: "\e613";
}

.icon-uniE614:before {
  content: "\e614";
}

.icon-uniE615:before {
  content: "\e615";
}

.icon-uniE616:before {
  content: "\e616";
}

.icon-uniE617:before {
  content: "\e617";
}

.icon-uniE618:before {
  content: "\e618";
}

.icon-uniE619:before {
  content: "\e619";
}

.icon-uniE61A:before {
  content: "\e61a";
}

.icon-uniE61B:before {
  content: "\e61b";
}

.icon-uniE61C:before {
  content: "\e61c";
}

.icon-uniE61D:before {
  content: "\e61d";
}

.icon-uniE61E:before {
  content: "\e61e";
}

.icon-uniE61F:before {
  content: "\e61f";
}

.icon-uniE620:before {
  content: "\e620";
}

.icon-uniE621:before {
  content: "\e621";
}

.icon-uniE622:before {
  content: "\e622";
}

.icon-uniE623:before {
  content: "\e623";
}

.icon-uniE624:before {
  content: "\e624";
}

.icon-uniE625:before {
  content: "\e625";
}

.icon-uniE626:before {
  content: "\e626";
}

.icon-uniE627:before {
  content: "\e627";
}

.icon-uniE628:before {
  content: "\e628";
}

.icon-uniE629:before {
  content: "\e629";
}

.icon-uniE62A:before {
  content: "\e62a";
}

.icon-uniE62B:before {
  content: "\e62b";
}

.icon-uniE62D:before {
  content: "\e62d";
}

.icon-uniE926:before {
  content: "\e926";
}

.icon-uniE92B:before {
  content: "\e92b";
}

.icon-uniEADA:before {
  content: "\eada";
}

.icon-uniEADB:before {
  content: "\eadb";
}

.icon-uniEADC:before {
  content: "\eadc";
}

.icon-uniEADD:before {
  content: "\eadd";
}

.icon-uniEADE:before {
  content: "\eade";
}

/*------------------------------*\

    #TYPOGRAPHY

\*------------------------------*/
html {
  font-size: 62.5%;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Deco */
/* Typos */
/*------------------------------*\

    # HELPERS

\*------------------------------*/
.navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social, .nav__primary, .nav__secondary, .no-pp .nav__dropdown, .pp, .pp .nav__dropdown, .navbar__buttons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-pp .nav__item__title, .nav__search__input {
  font-family: "avantgarde", Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 60.48px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.social__icon, .hamburger, .navbar__buttons .nav-bt, .nav__search__submit, .nav__search__close {
  display: block;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.social__icon, .hamburger, .navbar__buttons .nav-bt, .nav__search__submit, .nav__search__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.hamburger, .nav__search__submit, .nav__search__close {
  background-color: transparent;
  border: 2px solid #fff;
}

.social__icon, .hamburger, .navbar__buttons .nav-bt, .nav__search__submit, .nav__search__close, .no-pp .nav__dropdown .dropdown__item a, .js-toggle, .no-pp .nav__dropdown .dropdown__item a::after, .js-toggle::after, .navbar, .navbar::before, .navbar__id,
.navbar__id.is-compact,
.no-touch nav:hover + .navbar__id, .logo__img,
.navbar__id.is-compact .logo__img,
.no-touch nav:hover + .navbar__id .logo__img, .navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social, .nav__primary, .no-pp .nav__item__title, .no-pp .nav__dropdown, .no-pp .nav__dropdown::before, .pp, .pp .nav__item__title::after, .pp .nav__dropdown, .pp .nav__dropdown .dropdown__item::before {
  transition: all 0.2s ease-in-out;
}

.no-pp .nav__dropdown .dropdown__item a, .js-toggle {
  position: relative;
  font-family: "avantgarde", Arial;
  font-size: 12px;
  color: #65aa04;
  text-decoration: none;
  text-transform: uppercase;
}
.no-pp .nav__dropdown .dropdown__item a::after, .js-toggle::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #65aa04;
}
.no-pp .nav__dropdown .dropdown__item a:hover::after, .js-toggle:hover::after {
  width: 100%;
}

/*------------------------------*\

    # NAV BAR

\*------------------------------*/
.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 56px;
  padding: 0;
  margin-top: 0;
  padding-right: 2rem;
}
.navbar::before {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #65aa04;
}

/*------------------------------*\

    # LOGO

\*------------------------------*/
.navbar__id,
.navbar__id.is-compact,
.no-touch nav:hover + .navbar__id {
  flex: none;
  order: 1;
  position: relative;
  z-index: 10;
  width: 140px;
  height: 56px;
  padding: 12px 2rem 0 2rem;
  background: #fff;
  top: 0;
  box-shadow: none;
  border-radius: 0;
}

.logo__img,
.navbar__id.is-compact .logo__img,
.no-touch nav:hover + .navbar__id .logo__img {
  max-height: 0;
  overflow: hidden;
  width: 60px;
  height: 52px;
  margin-left: 20px;
  background: #cacaca;
}

.logo__title,
.navbar__id.is-compact .logo__title,
.no-touch nav:hover + .navbar__id .logo__title {
  margin: 0;
  color: #65aa04;
  font-family: Sansa Pro;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
}
.logo__title span,
.navbar__id.is-compact .logo__title span,
.no-touch nav:hover + .navbar__id .logo__title span {
  font-size: 22.3px;
}

.navbar__id__social,
.navbar__id.is-compact .navbar__id__social,
.no-touch nav:hover + .navbar__id .navbar__id__social {
  max-height: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.social__icon {
  width: 25px;
  height: 25px;
  background: #cacaca;
}

/*------------------------------*\

    # NAV

\*------------------------------*/
.nav {
  flex: auto;
  display: flex;
  order: 2;
}

.nav__primary, .nav__secondary {
  flex: 0 0 auto;
}

.nav__primary {
  border-radius: 0 3px 3px 0;
}

.nav__secondary .nav__dropdown .container {
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}
.nav__secondary .nav__dropdown .container .dropdown__item a::after {
  right: 0;
  left: auto;
}

.no-pp .nav__item {
  margin-left: 2rem;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.no-pp .nav__item__title {
  display: block;
  position: relative;
  cursor: pointer;
}
.no-pp .nav__item__title::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  transform: scale(0);
  transform-origin: center bottom;
  transition: transform 0.2s ease-out;
}

.touch .no-pp .nav__item.is-active .nav__item__title::after,
.no-touch .no-pp .nav__item:hover .nav__item__title::after {
  transform: scale(1);
}

.no-touch .no-pp .nav__item:hover .nav__item__title {
  color: #f2fee2;
}

/*------------------------------*\

    # DROPDOWN

\*------------------------------*/
.no-pp .nav__dropdown {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
}
.no-pp .nav__dropdown::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}
.no-pp .nav__dropdown .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.no-pp .nav__dropdown .dropdown__item {
  flex: none;
}
.no-pp .nav__dropdown .dropdown__item a {
  display: block;
  position: relative;
  z-index: 1;
  top: 20px;
  margin-right: 2rem;
  padding: 1rem 0;
  opacity: 0;
}
.no-pp .nav__dropdown .dropdown__item a::after {
  bottom: 8px;
}

.touch .no-pp .nav__item.is-active .nav__dropdown,
.no-touch .no-pp .nav__item:hover .nav__dropdown {
  max-height: 200px;
}
.touch .no-pp .nav__item.is-active .dropdown__item a,
.no-touch .no-pp .nav__item:hover .dropdown__item a {
  opacity: 1;
  top: 0;
}

/*------------------------------*\

    # PP NAV

\*------------------------------*/
.hamburger {
  visibility: hidden;
  position: absolute;
  margin-top: 13px;
  margin-left: 2rem;
  cursor: pointer;
  transform: scale(0);
  outline: none;
}
.hamburger.is-visible {
  position: relative;
  visibility: visible;
  transform: scale(1);
}
.hamburger::after {
  content: '';
  position: fixed;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  transform: translateX(-50%) scale(0);
  transform-origin: center bottom;
  transition: transform 0.2s ease-out;
}

.hamburger.pp-visible::after,
.no-touch .nav__pp:hover .hamburger::after {
  transform: translateX(-50%) scale(1);
}

.pp {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 2rem;
  background: #fff;
  opacity: 0;
  transform-origin: center top;
  transform: scale(0);
}

.no-touch .nav__pp:hover .pp,
.pp.is-visible {
  transform: scale(1);
  opacity: 1;
}

.pp .nav__item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.pp .nav__item:not(:last-child) {
  margin-bottom: 2rem;
}
.pp .nav__item.is-unfold .nav__item__title::after {
  transform: rotate(135deg);
}
.pp .nav__item.is-unfold .nav__dropdown {
  padding-top: 10px;
  max-height: 200px;
}

.pp .nav__item__title {
  position: relative;
  padding: 12px 2rem 9px 2rem;
  background: #65aa04;
  border-radius: 3px;
  color: #fff;
  font: 700 13px "avantgarde", Arial;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
}
.pp .nav__item__title::after {
  content: '';
  position: absolute;
  right: 2rem;
  top: 50%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
}

.pp .nav__dropdown {
  opacity: 1;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  max-height: 0;
}
.pp .nav__dropdown .container {
  padding: 10px 0 10px 2rem;
  position: relative;
}
.pp .nav__dropdown .container::before {
  content: '';
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background: #eeeeee;
}
.pp .nav__dropdown .dropdown__item {
  position: relative;
}
.pp .nav__dropdown .dropdown__item::before {
  content: '';
  position: absolute;
  left: -6px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: #65aa04;
  border: 4px solid #fff;
  border-radius: 50%;
  transform: scale(0);
}
.pp .nav__dropdown .dropdown__item a {
  display: block;
  position: relative;
  padding-left: 2rem;
  text-decoration: none;
  font: 400 14px Montserrat;
  color: #999999;
  line-height: 35px;
  -webkit-font-smoothing: antialiased;
}
.pp .nav__dropdown .dropdown__item:hover a {
  color: #555 !important;
}
.pp .nav__dropdown .dropdown__item:hover::before {
  transform: scale(1);
}

/*------------------------------*\

    # BUTTONS

\*------------------------------*/
.navbar__buttons {
  flex: none;
  order: 3;
  height: 100%;
  align-items: center;
  margin-left: 2rem;
}
.navbar__buttons .nav-bt {
  background: #fff;
  opacity: 0.5;
}
.navbar__buttons .nav-bt:nth-child(2) {
  margin: 0 1rem;
}

/*------------------------------*\

    # SEARCH

\*------------------------------*/
.nav__search {
  display: none;
  align-items: center;
  flex: auto;
  order: 2;
  margin-left: 2rem;
}

.nav__search__input {
  flex: 1 0 auto;
  border: 0;
  background-color: transparent;
  color: #fff;
}
.nav__search__input:focus {
  outline: 0;
}
.nav__search__input:-moz-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}
.nav__search__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}
.nav__search__input::-moz-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}
.nav__search__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 400;
  line-height: 64.4px;
  opacity: 0.7;
}

.nav__search__close {
  margin-left: 1rem;
}

.navbar.is-search::before {
  background: #eb6c1d;
}
.navbar.is-search .nav, .navbar.is-search .navbar__buttons {
  display: none;
}
.navbar.is-search .navbar__id.is-compact .logo__title {
  color: #eb6c1d;
}
.navbar.is-search .nav__search {
  display: flex;
}

/*------------------------------*\

    # TOGGLE

\*------------------------------*/
.js-toggle {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
  background: #fff;
  border: 2rem solid #fff;
}

/*------------------------------*\

    # MEDIA QUERIES 

\*------------------------------*/
/* MAX */
@media screen and (max-width: 420px) {
  .navbar.is-search .navbar__id {
    position: absolute;
    top: -56px;
  }
}
@media screen and (max-width: 640px) {
  .navbar.is-search .logo__title {
    color: #eb6c1d;
  }
}
/* MIN */
@media screen and (min-width: 420px) {
  .navbar.is-compact::before {
    width: 100%;
  }

  .navbar.stick-top {
    margin-top: 0;
  }

  .nav__pp {
    position: relative;
  }

  .pp {
    left: 15px;
    width: 320px;
    transform: translateX(-43.5%) scale(0);
  }

  .pp .nav__item.is-unfold .nav__item__title::after {
    transform: translateX(-50%) rotate(135deg);
  }
  .pp .nav__item.is-unfold .nav__dropdown {
    max-height: 200px;
    padding-top: 10px;
  }

  .no-touch .nav__pp:hover .pp,
  .pp.is-visible {
    transform: translateX(-43.5%) scale(1);
  }
}
@media screen and (min-width: 640px) {
  .navbar {
    padding: 0 5rem;
  }

  .navbar__id {
    top: -30px;
    height: 187px;
    padding: 2rem 2rem 0 2rem;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .navbar__id.is-compact {
    top: 0;
    padding-top: 12px;
  }

  .logo__img {
    max-height: 52px;
    overflow: hidden;
  }

  .logo__title {
    margin: 15px auto;
    color: #000;
  }

  .navbar__id__social {
    max-height: 25px;
    overflow: hidden;
  }

  .no-pp .nav__dropdown .container {
    padding-left: 50px;
  }
}
@media screen and (min-width: 850px) {
  .no-pp .nav__dropdown .container {
    padding-left: 70px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .no-pp .nav__dropdown .dropdown__item a {
    padding: 1.5rem 0;
    font-size: 14px;
  }
  .no-pp .nav__dropdown .dropdown__item a::after {
    bottom: 11px;
  }
}
@media screen and (min-width: 930px) {
  .navbar {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1050px) {
  .no-pp .nav__dropdown .container {
    padding-left: 210px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .no-pp .nav__dropdown .container .dropdown__item a {
    padding: 2rem 0;
  }
  .no-pp .nav__dropdown .container .dropdown__item a::after {
    bottom: 16px;
  }
}
@media screen and (min-width: 1220px) {
  .navbar::before {
    width: 30%;
  }

  .navbar.is-search::before {
    width: 100%;
  }

  .no-pp .nav__dropdown .dropdown__item a {
    font-size: 18px;
    font-weight: 700;
  }
  .no-pp .nav__dropdown .dropdown__item a::after {
    height: 2px;
  }

  .nav__primary {
    padding-right: 2rem;
    background: #65aa04;
  }

  .nav__secondary {
    margin: 0 0 0 auto;
  }
  .nav__secondary .nav__dropdown .container {
    padding-right: 160px;
  }
}
