/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset, .box-flex.extend-flex, .box-logos {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/*------------------------------*\

    #WRAPS

\*------------------------------*/
/*Wrap small*/
.wrap-s {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 690px;
}

/*Wrap normal*/
.wrap-n {
  margin: 0 auto;
  padding: 0 3.5rem;
  max-width: 830px;
}

/*Wrap large*/
.wrap-l {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 978px;
}

/*Wrap orange*/
.wrap-highlight {
  background: #eb6c1d;
  color: #fff;
  width: 100%;
  padding: 6rem 0;
}
.wrap-highlight .lighter {
  font-family: "avantgarde", Arial;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}
.wrap-highlight h1 {
  line-height: 4.5rem;
  margin: 0.8rem 0 2rem;
}
.wrap-highlight .highlight-txt {
  font-family: "Georgia", serif;
}

/*------- FLEX -----------*/
.box-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-flex.extend-flex {
  justify-content: space-around;
}

.box--item {
  text-align: center;
  padding: 0 3rem 3rem;
  margin-bottom: 3rem;
}

.box--item:last-child {
  margin-bottom: 0;
}

.box--full, .box--solo, .box--half {
  display: block;
  flex: 100%;
  margin-bottom: 3rem;
}

.box--fixe {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
}

.head-flex .box--fixe,
.trio-projects .box--fixe {
  display: none;
}

.box-logos {
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-logos li {
  margin-bottom: 3rem;
  /*&:nth-child(2){
  	display:none;	
  }*/
}
.box-logos li:last-child {
  align-self: center;
  flex: 1 1 100%;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .box-logos li {
    margin: 0 auto 3rem;
  }
}
@media screen and (min-width: 600px) {
  .wrap-n {
    padding: 0 5rem;
  }

  .box--full, .box--solo, .box--half {
    margin-bottom: 0;
  }

  .box--solo {
    flex: 1 1 84%;
    max-width: 84%;
  }

  .box--half {
    flex: 41.5%;
    max-width: 39%;
  }

  .box--fixe {
    max-width: 66px;
  }

  .head-flex .box--fixe, .trio-projects .box--fixe {
    display: flex;
  }

  .wrap-highlight .box--fixe {
    align-items: flex-start;
  }

  .box-logos li:last-child {
    align-self: center;
    flex: inherit;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 800px) {
  .wrap-n {
    padding: 0 7.6rem;
  }

  .box-logos li {
    margin: 0;
  }
  .box-logos li:last-child {
    align-self: center;
    flex: inherit;
    margin-bottom: 0;
  }
  .box-logos li:nth-child(2) {
    display: block;
  }

  .box--item {
    margin-bottom: 0;
  }
}
