/*------------------------------*\

    #CLASS

\*------------------------------*/
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset, .box.box-flex, .box__logos {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/*------------------------------*\

    #WRAPS

\*------------------------------*/
/*Wrap small*/
.wrap-s {
  margin: 0 auto;
  max-width: 690px;
}

/*Wrap normal*/
.wrap-n {
  margin: 0 auto;
  max-width: 830px;
}

/*Wrap large*/
.wrap-l {
  margin: 0 auto;
  max-width: 978px;
}

/*Wrap orange*/
.wrap-highlight {
  background: #eb6c1d;
  color: #fff;
  width: 100%;
}
.wrap-highlight .lighter {
  color: rgba(255, 255, 255, 0.5);
}

/*------- FLEX -----------*/
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box.box-flex {
  justify-content: space-around;
}

.box__item {
  text-align: center;
  flex: 1;
}

.box__full, .box__solo, .box__half {
  display: block;
  flex: 100%;
}

.box__fixe {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
}

.head__flex .box__fixe,
.trio-card .box__fixe {
  display: none;
}

.box__logos {
  flex-wrap: wrap;
  justify-content: space-between;
}
.box__logos li:last-child {
  align-self: center;
  flex: 1 1 100%;
  text-align: center;
}

.round__img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .box__solo {
    flex: 1 1 84%;
    max-width: 84%;
  }

  .box__half {
    flex: 41.5%;
    max-width: 39%;
  }

  .box__fixe {
    max-width: 66px;
  }

  .head__flex .box__fixe, .trio-card .box__fixe {
    display: flex;
  }

  .wrap-highlight .box__fixe {
    align-items: flex-start;
  }

  .box__logos li:last-child {
    align-self: center;
    flex: inherit;
  }
}
@media screen and (min-width: 800px) {
  .box__logos li {
    margin: 0;
  }
  .box__logos li:last-child {
    align-self: center;
    flex: inherit;
  }
  .box__logos li:nth-child(2) {
    display: block;
  }
}
